{
  "openapi": "3.1.0",
  "info": {
    "title": "ronutz tools API",
    "version": "1.1.0",
    "summary": "Deterministic network and security computations over HTTP.",
    "description": "The programmatic counterpart to the in-browser tools at ronutz.com.\n\nEvery operation here is a pure function: the same input always yields the\nsame output, nothing is stored, and no request bodies or query values are\nlogged. The browser tools remain the zero-egress default for sensitive work;\nthis API exists for automation (scripts, pipelines, integrations).\n\nThe surface grows with the toolbox: every shipped tool is exposed here and\ndocumented from the same registry, so the served endpoints and this document\ncannot drift apart. Only shipped tools are listed (no vaporware). Each\noperation accepts its input via GET (?input=) or POST (the request body) and\nreturns a JSON result.\n",
    "contact": {
      "name": "ronutz",
      "url": "https://ronutz.com/contact"
    },
    "license": {
      "name": "Apache-2.0 (code), CC-BY-4.0 (content)",
      "url": "https://ronutz.com/colophon"
    }
  },
  "servers": [
    {
      "url": "https://ronutz.com/api/v1",
      "description": "Production edge (Cloudflare Worker, stateless, no request logging)"
    }
  ],
  "tags": [
    {
      "name": "Encoding"
    },
    {
      "name": "F5 Distributed Cloud (XC)"
    },
    {
      "name": "F5 GTM, AFM & APM"
    },
    {
      "name": "F5 LTM, iRules & platform"
    },
    {
      "name": "HTTP & web"
    },
    {
      "name": "Hashing"
    },
    {
      "name": "Identifiers & time"
    },
    {
      "name": "Identity & tokens"
    },
    {
      "name": "Networking & addressing",
      "description": "IP addressing and subnet computations."
    },
    {
      "name": "PKI"
    },
    {
      "name": "Protocol & packet decoders"
    },
    {
      "name": "Security & WAF"
    },
    {
      "name": "TLS & transport"
    },
    {
      "name": "Text & utilities"
    }
  ],
  "paths": {
    "/base64": {
      "get": {
        "tags": [
          "Encoding"
        ],
        "operationId": "run_base64",
        "summary": "Base64, Base32, Hex & Percent Codec",
        "description": "Encode text to Base64, URL-safe Base64, Base32, hexadecimal, or percent-encoding, and decode any of them back. Tolerant of missing padding and whitespace, and it flags binary (non-UTF-8) results. Runs entirely in your browser. Standards: RFC 4648, RFC 3986. Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "The tool input.",
            "schema": {
              "type": "string",
              "examples": [
                "SGVsbG8gV29ybGQ="
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Encoding"
        ],
        "operationId": "run_base64_post",
        "summary": "Base64, Base32, Hex & Percent Codec (POST)",
        "description": "Encode text to Base64, URL-safe Base64, Base32, hexadecimal, or percent-encoding, and decode any of them back. Tolerant of missing padding and whitespace, and it flags binary (non-UTF-8) results. Runs entirely in your browser. Standards: RFC 4648, RFC 3986. Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "requestBody": {
          "required": true,
          "description": "The tool input as text.",
          "content": {
            "text/plain": {
              "schema": {
                "type": "string",
                "examples": [
                  "SGVsbG8gV29ybGQ="
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cert-renewal-planner": {
      "get": {
        "tags": [
          "PKI"
        ],
        "operationId": "run_cert_renewal_planner",
        "summary": "Certificate renewal planner",
        "description": "Work out a TLS certificate's validity, whether it fits the CA/Browser Forum 47-day schedule, and the renewal cadence it implies — all offline. The input is a JSON object: send it as the request body (POST) or as a JSON string (?input=). Standards: CA/Browser Forum SC-081v3, RFC 5280, RFC 8555. Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "The tool input, as a JSON string.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "PKI"
        ],
        "operationId": "run_cert_renewal_planner_post",
        "summary": "Certificate renewal planner (POST)",
        "description": "Work out a TLS certificate's validity, whether it fits the CA/Browser Forum 47-day schedule, and the renewal cadence it implies — all offline. The input is a JSON object: send it as the request body (POST) or as a JSON string (?input=). Standards: CA/Browser Forum SC-081v3, RFC 5280, RFC 8555. Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "requestBody": {
          "required": true,
          "description": "The tool input as a JSON object.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cidr": {
      "get": {
        "tags": [
          "Networking & addressing"
        ],
        "operationId": "computeCidr",
        "summary": "Break down an IPv4 CIDR block",
        "description": "Computes the network and broadcast addresses, usable host range, host counts, netmask, and wildcard mask for an IPv4 CIDR block.\nEdge cases follow the common conventions: a `/31` is treated as an RFC 3021 point-to-point link (2 usable addresses, no separate broadcast), and a `/32` is a single host (1 usable address). For `/0`–`/30`, the network and broadcast addresses are excluded from the usable host count.\n",
        "externalDocs": {
          "description": "RFC 4632: Classless Inter-Domain Routing",
          "url": "https://www.rfc-editor.org/rfc/rfc4632"
        },
        "parameters": [
          {
            "name": "block",
            "in": "query",
            "required": true,
            "description": "An IPv4 CIDR block, host bits optional (they are masked off).",
            "schema": {
              "type": "string",
              "pattern": "^(\\d{1,3}\\.){3}\\d{1,3}/\\d{1,2}$"
            },
            "examples": {
              "standard": {
                "summary": "A /24 network",
                "value": "192.168.1.0/24"
              },
              "hostBitsSet": {
                "summary": "Host bits set (masked off automatically)",
                "value": "10.0.5.37/22"
              },
              "pointToPoint": {
                "summary": "RFC 3021 point-to-point",
                "value": "198.51.100.0/31"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The computed breakdown.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CidrResult"
                },
                "example": {
                  "input": "192.168.1.0/24",
                  "network": "192.168.1.0",
                  "broadcast": "192.168.1.255",
                  "netmask": "255.255.255.0",
                  "wildcard": "0.0.0.255",
                  "firstHost": "192.168.1.1",
                  "lastHost": "192.168.1.254",
                  "totalAddresses": 256,
                  "usableHosts": 254
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or not a valid IPv4 CIDR block.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "invalid_cidr",
                  "message": "Not a valid IPv4 CIDR block. Expected something like 192.168.1.0/24."
                }
              }
            }
          }
        }
      }
    },
    "/cipher": {
      "get": {
        "tags": [
          "TLS & transport"
        ],
        "operationId": "run_cipher",
        "summary": "Cipher Suite Decoder",
        "description": "Enter a TLS cipher suite, as an IANA name, an OpenSSL or GnuTLS name, or a hex code point, to break it into its key exchange, authentication, cipher, mode, and MAC, with a plain-language security read-out and the official IANA recommendation. Runs entirely in your browser against a bundled copy of the IANA registry. Standards: IANA TLS Cipher Suites, RFC 8446, RFC 5246, RFC 8447, RFC 7465. Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "The tool input.",
            "schema": {
              "type": "string",
              "examples": [
                "TLS_AES_128_GCM_SHA256"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "TLS & transport"
        ],
        "operationId": "run_cipher_post",
        "summary": "Cipher Suite Decoder (POST)",
        "description": "Enter a TLS cipher suite, as an IANA name, an OpenSSL or GnuTLS name, or a hex code point, to break it into its key exchange, authentication, cipher, mode, and MAC, with a plain-language security read-out and the official IANA recommendation. Runs entirely in your browser against a bundled copy of the IANA registry. Standards: IANA TLS Cipher Suites, RFC 8446, RFC 5246, RFC 8447, RFC 7465. Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "requestBody": {
          "required": true,
          "description": "The tool input as text.",
          "content": {
            "text/plain": {
              "schema": {
                "type": "string",
                "examples": [
                  "TLS_AES_128_GCM_SHA256"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/csr-decoder": {
      "get": {
        "tags": [
          "PKI"
        ],
        "operationId": "run_csr_decoder",
        "summary": "CSR decoder",
        "description": "Decode a PKCS#10 certificate signing request to read its subject, public key, requested SANs and extensions, and attributes — entirely in your browser. The input is a JSON object: send it as the request body (POST) or as a JSON string (?input=). Standards: PKCS#10 / RFC 2986, RFC 5280. Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "The tool input, as a JSON string.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "PKI"
        ],
        "operationId": "run_csr_decoder_post",
        "summary": "CSR decoder (POST)",
        "description": "Decode a PKCS#10 certificate signing request to read its subject, public key, requested SANs and extensions, and attributes — entirely in your browser. The input is a JSON object: send it as the request body (POST) or as a JSON string (?input=). Standards: PKCS#10 / RFC 2986, RFC 5280. Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "requestBody": {
          "required": true,
          "description": "The tool input as a JSON object.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cvss-vector-decoder": {
      "get": {
        "tags": [
          "Security & WAF"
        ],
        "operationId": "run_cvss_vector_decoder",
        "summary": "CVSS vector decoder",
        "description": "Paste a CVSS v3.1 or v3.0 vector and get the score computed and mapped to a severity, with every metric spelled out. Local and offline; nothing is sent anywhere. Standards: CVSS v3.1 (FIRST.org). Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "The tool input.",
            "schema": {
              "type": "string",
              "examples": [
                "CVSS:3.1/AV:N/AC:L/PR:N/UI:N/S:U/C:H/I:H/A:H"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Security & WAF"
        ],
        "operationId": "run_cvss_vector_decoder_post",
        "summary": "CVSS vector decoder (POST)",
        "description": "Paste a CVSS v3.1 or v3.0 vector and get the score computed and mapped to a severity, with every metric spelled out. Local and offline; nothing is sent anywhere. Standards: CVSS v3.1 (FIRST.org). Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "requestBody": {
          "required": true,
          "description": "The tool input as text.",
          "content": {
            "text/plain": {
              "schema": {
                "type": "string",
                "examples": [
                  "CVSS:3.1/AV:N/AC:L/PR:N/UI:N/S:U/C:H/I:H/A:H"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/diff": {
      "get": {
        "tags": [
          "Text & utilities"
        ],
        "operationId": "run_diff",
        "summary": "Text Diff",
        "description": "Compare two blocks of text and see exactly what changed, line by line, with inline word-level highlighting on edited lines. Optionally ignore whitespace or case. Everything is computed in your browser; your text is never sent anywhere. The input is a JSON object: send it as the request body (POST) or as a JSON string (?input=). Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "The tool input, as a JSON string.",
            "schema": {
              "type": "string",
              "examples": [
                "original text vs revised text"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Text & utilities"
        ],
        "operationId": "run_diff_post",
        "summary": "Text Diff (POST)",
        "description": "Compare two blocks of text and see exactly what changed, line by line, with inline word-level highlighting on edited lines. Optionally ignore whitespace or case. Everything is computed in your browser; your text is never sent anywhere. The input is a JSON object: send it as the request body (POST) or as a JSON string (?input=). Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "requestBody": {
          "required": true,
          "description": "The tool input as a JSON object.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/dig-output-explainer": {
      "get": {
        "tags": [
          "Networking & addressing"
        ],
        "operationId": "run_dig_output_explainer",
        "summary": "dig output explainer",
        "description": "Paste real dig output and get a decoded, explained breakdown: the header and flags, the EDNS OPT pseudo-section, every record in each section, and the query stats. Parsed entirely in your browser, nothing is resolved or sent anywhere. Standards: RFC 1035, RFC 6891, RFC 2308, RFC 8499. Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "The tool input.",
            "schema": {
              "type": "string",
              "examples": [
                ";; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 4321"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Networking & addressing"
        ],
        "operationId": "run_dig_output_explainer_post",
        "summary": "dig output explainer (POST)",
        "description": "Paste real dig output and get a decoded, explained breakdown: the header and flags, the EDNS OPT pseudo-section, every record in each section, and the query stats. Parsed entirely in your browser, nothing is resolved or sent anywhere. Standards: RFC 1035, RFC 6891, RFC 2308, RFC 8499. Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "requestBody": {
          "required": true,
          "description": "The tool input as text.",
          "content": {
            "text/plain": {
              "schema": {
                "type": "string",
                "examples": [
                  ";; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 4321"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/epoch": {
      "get": {
        "tags": [
          "Identifiers & time"
        ],
        "operationId": "run_epoch",
        "summary": "Unix time converter",
        "description": "Type a Unix timestamp — seconds, milliseconds, microseconds, or nanoseconds, detected automatically — or an ISO-8601 date, and read it back in every common format. All in your browser. Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "The tool input.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Identifiers & time"
        ],
        "operationId": "run_epoch_post",
        "summary": "Unix time converter (POST)",
        "description": "Type a Unix timestamp — seconds, milliseconds, microseconds, or nanoseconds, detected automatically — or an ISO-8601 date, and read it back in every common format. All in your browser. Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "requestBody": {
          "required": true,
          "description": "The tool input as text.",
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/f5-afm-rule-context": {
      "get": {
        "tags": [
          "F5 GTM, AFM & APM"
        ],
        "operationId": "run_f5_afm_rule_context",
        "summary": "AFM rule-context & match explainer",
        "description": "Walk a packet through AFM's documented context order and watch the semantics that decide real outcomes: accept passes one context and the traffic is processed again at the next, only accept-decisively ends the walk, ICMP rules at a virtual server or self IP are ignored, and staged policies log without enforcing. A lone policy gets the redundant-and-conflicting audit the system itself defines. Standards: F5 BIG-IP AFM Network Firewall. Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "The tool input.",
            "schema": {
              "type": "string",
              "examples": [
                "security firewall policy P { rules { r1 { action drop } } }"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "F5 GTM, AFM & APM"
        ],
        "operationId": "run_f5_afm_rule_context_post",
        "summary": "AFM rule-context & match explainer (POST)",
        "description": "Walk a packet through AFM's documented context order and watch the semantics that decide real outcomes: accept passes one context and the traffic is processed again at the next, only accept-decisively ends the walk, ICMP rules at a virtual server or self IP are ignored, and staged policies log without enforcing. A lone policy gets the redundant-and-conflicting audit the system itself defines. Standards: F5 BIG-IP AFM Network Firewall. Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "requestBody": {
          "required": true,
          "description": "The tool input as text.",
          "content": {
            "text/plain": {
              "schema": {
                "type": "string",
                "examples": [
                  "security firewall policy P { rules { r1 { action drop } } }"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/f5-apm-session-variable-reference": {
      "get": {
        "tags": [
          "F5 GTM, AFM & APM"
        ],
        "operationId": "run_f5_apm_session_variable_reference",
        "summary": "APM session-variable reference",
        "description": "The Session Variables chapter as a pattern-aware lookup: paste session.ad.last.attr.memberOf and it resolves against the chapter's own templates, paste an mcget expression and every reference inside is explained with the secure audit riding along, the classic empty-value trap named exactly: a bare mcget on session.logon.last.password reads back empty, because secure variables require -secure. Standards: F5 APM session variables. Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "The tool input.",
            "schema": {
              "type": "string",
              "examples": [
                "mcget {session.logon.last.password}"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "F5 GTM, AFM & APM"
        ],
        "operationId": "run_f5_apm_session_variable_reference_post",
        "summary": "APM session-variable reference (POST)",
        "description": "The Session Variables chapter as a pattern-aware lookup: paste session.ad.last.attr.memberOf and it resolves against the chapter's own templates, paste an mcget expression and every reference inside is explained with the secure audit riding along, the classic empty-value trap named exactly: a bare mcget on session.logon.last.password reads back empty, because secure variables require -secure. Standards: F5 APM session variables. Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "requestBody": {
          "required": true,
          "description": "The tool input as text.",
          "content": {
            "text/plain": {
              "schema": {
                "type": "string",
                "examples": [
                  "mcget {session.logon.last.password}"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/f5-apm-sso-explainer": {
      "get": {
        "tags": [
          "F5 GTM, AFM & APM"
        ],
        "operationId": "run_f5_apm_sso_explainer",
        "summary": "APM SSO method explainer",
        "description": "The eight SSO methods APM's own chapter defines, each card carrying the verdict that decides outages: a misconfigured SSO object for any non-form method can disable SSO for every method in that user's session; Form Based and Forms - Client Initiated are the only exempt ones. Kerberos ships its full prerequisite list, including the line worth framing: APM Kerberos SSO does not need or use a keytab file. Standards: F5 APM Single Sign-On Methods. Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "The tool input.",
            "schema": {
              "type": "string",
              "examples": [
                "kerberos"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "F5 GTM, AFM & APM"
        ],
        "operationId": "run_f5_apm_sso_explainer_post",
        "summary": "APM SSO method explainer (POST)",
        "description": "The eight SSO methods APM's own chapter defines, each card carrying the verdict that decides outages: a misconfigured SSO object for any non-form method can disable SSO for every method in that user's session; Form Based and Forms - Client Initiated are the only exempt ones. Kerberos ships its full prerequisite list, including the line worth framing: APM Kerberos SSO does not need or use a keytab file. Standards: F5 APM Single Sign-On Methods. Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "requestBody": {
          "required": true,
          "description": "The tool input as text.",
          "content": {
            "text/plain": {
              "schema": {
                "type": "string",
                "examples": [
                  "kerberos"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/f5-awaf-declarative-policy-explainer": {
      "get": {
        "tags": [
          "Security & WAF"
        ],
        "operationId": "run_f5_awaf_declarative_policy_explainer",
        "summary": "F5 Advanced WAF declarative-policy explainer",
        "description": "Paste a BIG-IP Advanced WAF declarative security policy (JSON) and get a section-by-section, plain-language reading grounded in F5's published schema, with security callouts that read the values: transparent enforcement means monitor-only, plus signature staging, Data Guard off, and cookies missing Secure or HttpOnly. Runs entirely in your browser. Standards: F5 BIG-IP Advanced WAF declarative policy (schema v17.1). Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "The tool input.",
            "schema": {
              "type": "string",
              "examples": [
                "{ \"policy\": { \"template\": { \"name\": \"POLICY_TEMPLATE_RAPID_DEPLOYMENT\" } } }"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Security & WAF"
        ],
        "operationId": "run_f5_awaf_declarative_policy_explainer_post",
        "summary": "F5 Advanced WAF declarative-policy explainer (POST)",
        "description": "Paste a BIG-IP Advanced WAF declarative security policy (JSON) and get a section-by-section, plain-language reading grounded in F5's published schema, with security callouts that read the values: transparent enforcement means monitor-only, plus signature staging, Data Guard off, and cookies missing Secure or HttpOnly. Runs entirely in your browser. Standards: F5 BIG-IP Advanced WAF declarative policy (schema v17.1). Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "requestBody": {
          "required": true,
          "description": "The tool input as text.",
          "content": {
            "text/plain": {
              "schema": {
                "type": "string",
                "examples": [
                  "{ \"policy\": { \"template\": { \"name\": \"POLICY_TEMPLATE_RAPID_DEPLOYMENT\" } } }"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/f5-bigip-license-explainer": {
      "get": {
        "tags": [
          "F5 LTM, iRules & platform"
        ],
        "operationId": "run_f5_bigip_license_explainer",
        "summary": "F5 BIG-IP license explainer",
        "description": "Paste your /config/bigip.license, full file or a fragment, and get a plain-language reading: management flavor, licensing dates with the K7727 upgrade verdict, Registration Key and platform, active and optional modules, constraints, and feature tokens. Runs entirely in your browser. Standards: F5 K000160443, F5 K7727, F5 K3782, F5 K7752, F5 K42091606, F5 K02011230, F5 K15643. Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "The tool input.",
            "schema": {
              "type": "string",
              "examples": [
                "active module :  LTM, 1 Gbps, VE|CCCCCCC-CCCCCCC|..."
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "F5 LTM, iRules & platform"
        ],
        "operationId": "run_f5_bigip_license_explainer_post",
        "summary": "F5 BIG-IP license explainer (POST)",
        "description": "Paste your /config/bigip.license, full file or a fragment, and get a plain-language reading: management flavor, licensing dates with the K7727 upgrade verdict, Registration Key and platform, active and optional modules, constraints, and feature tokens. Runs entirely in your browser. Standards: F5 K000160443, F5 K7727, F5 K3782, F5 K7752, F5 K42091606, F5 K02011230, F5 K15643. Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "requestBody": {
          "required": true,
          "description": "The tool input as text.",
          "content": {
            "text/plain": {
              "schema": {
                "type": "string",
                "examples": [
                  "active module :  LTM, 1 Gbps, VE|CCCCCCC-CCCCCCC|..."
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/f5-bigip-persistence-cookie": {
      "get": {
        "tags": [
          "Security & WAF"
        ],
        "operationId": "run_f5_bigip_persistence_cookie",
        "summary": "BIG-IP Persistence Cookie Decoder",
        "description": "Decode an F5 BIGipServer persistence cookie into the backend pool member's IP and port, or encode one from an address and port. Runs entirely in your browser. Standards: F5 K6917, F5 K7784, RFC 1918, RFC 5952. Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "The tool input.",
            "schema": {
              "type": "string",
              "examples": [
                "BIGipServerWEB=1677787402.20480.0000"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Security & WAF"
        ],
        "operationId": "run_f5_bigip_persistence_cookie_post",
        "summary": "BIG-IP Persistence Cookie Decoder (POST)",
        "description": "Decode an F5 BIGipServer persistence cookie into the backend pool member's IP and port, or encode one from an address and port. Runs entirely in your browser. Standards: F5 K6917, F5 K7784, RFC 1918, RFC 5952. Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "requestBody": {
          "required": true,
          "description": "The tool input as text.",
          "content": {
            "text/plain": {
              "schema": {
                "type": "string",
                "examples": [
                  "BIGipServerWEB=1677787402.20480.0000"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/f5-bigip-tcpdump-builder": {
      "get": {
        "tags": [
          "F5 LTM, iRules & platform"
        ],
        "operationId": "run_f5_bigip_tcpdump_builder",
        "summary": "BIG-IP tcpdump builder",
        "description": "Assemble a BIG-IP-correct tcpdump command from structured choices: the TMM interface syntax, flow detail, snaplen, file output, and a BPF filter. It formats the command for you to run; it captures nothing. The input is a JSON object: send it as the request body (POST) or as a JSON string (?input=). Standards: tcpdump, F5 TMM :nnn capture syntax. Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "The tool input, as a JSON string.",
            "schema": {
              "type": "string",
              "examples": [
                "interface 0.0, high detail, both sides, filtered by host"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "F5 LTM, iRules & platform"
        ],
        "operationId": "run_f5_bigip_tcpdump_builder_post",
        "summary": "BIG-IP tcpdump builder (POST)",
        "description": "Assemble a BIG-IP-correct tcpdump command from structured choices: the TMM interface syntax, flow detail, snaplen, file output, and a BPF filter. It formats the command for you to run; it captures nothing. The input is a JSON object: send it as the request body (POST) or as a JSON string (?input=). Standards: tcpdump, F5 TMM :nnn capture syntax. Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "requestBody": {
          "required": true,
          "description": "The tool input as a JSON object.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/f5-cipher-string-expander": {
      "get": {
        "tags": [
          "TLS & transport"
        ],
        "operationId": "run_f5_cipher_string_expander",
        "summary": "F5 cipher-string explainer",
        "description": "Paste an F5 BIG-IP cipher string and get every keyword and operator explained plus a security read, all in your browser. Standards: F5 cipher rules/groups, tmm --clientciphers. Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "The tool input.",
            "schema": {
              "type": "string",
              "examples": [
                "f5-secure"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "TLS & transport"
        ],
        "operationId": "run_f5_cipher_string_expander_post",
        "summary": "F5 cipher-string explainer (POST)",
        "description": "Paste an F5 BIG-IP cipher string and get every keyword and operator explained plus a security read, all in your browser. Standards: F5 cipher rules/groups, tmm --clientciphers. Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "requestBody": {
          "required": true,
          "description": "The tool input as text.",
          "content": {
            "text/plain": {
              "schema": {
                "type": "string",
                "examples": [
                  "f5-secure"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/f5-dos-vector-explainer": {
      "get": {
        "tags": [
          "F5 GTM, AFM & APM"
        ],
        "operationId": "run_f5_dos_vector_explainer",
        "summary": "AFM DoS-vector / profile explainer",
        "description": "Every AFM DoS vector explained in F5's own words, with the threshold mechanics spelled out and the configuration cross-checked: the silent mitigation-below-detection inversion, automatic-mode semantics, policing without detection, and the SYN-cookie interplay. Defensive configuration only. Standards: F5 AFM DoS profiles. Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "The tool input.",
            "schema": {
              "type": "string",
              "examples": [
                "security dos device-config dos-device-config { dos-device-vector { tcp-half-open { } } }"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "F5 GTM, AFM & APM"
        ],
        "operationId": "run_f5_dos_vector_explainer_post",
        "summary": "AFM DoS-vector / profile explainer (POST)",
        "description": "Every AFM DoS vector explained in F5's own words, with the threshold mechanics spelled out and the configuration cross-checked: the silent mitigation-below-detection inversion, automatic-mode semantics, policing without detection, and the SYN-cookie interplay. Defensive configuration only. Standards: F5 AFM DoS profiles. Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "requestBody": {
          "required": true,
          "description": "The tool input as text.",
          "content": {
            "text/plain": {
              "schema": {
                "type": "string",
                "examples": [
                  "security dos device-config dos-device-config { dos-device-vector { tcp-half-open { } } }"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/f5-gslb-decision-flow": {
      "get": {
        "tags": [
          "F5 GTM, AFM & APM"
        ],
        "operationId": "run_f5_gslb_decision_flow",
        "summary": "GSLB decision-flow explainer",
        "description": "The BIG-IP DNS two-tier decision, explained: pool selection at the wide IP, then the preferred, alternate and fallback chain inside the pool, with the grammar validated and the manual's rules cross-checked. Standards: F5 BIG-IP DNS / GTM. Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "The tool input.",
            "schema": {
              "type": "string",
              "examples": [
                "gtm pool a pool_dc1 { load-balancing-mode topology }"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "F5 GTM, AFM & APM"
        ],
        "operationId": "run_f5_gslb_decision_flow_post",
        "summary": "GSLB decision-flow explainer (POST)",
        "description": "The BIG-IP DNS two-tier decision, explained: pool selection at the wide IP, then the preferred, alternate and fallback chain inside the pool, with the grammar validated and the manual's rules cross-checked. Standards: F5 BIG-IP DNS / GTM. Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "requestBody": {
          "required": true,
          "description": "The tool input as text.",
          "content": {
            "text/plain": {
              "schema": {
                "type": "string",
                "examples": [
                  "gtm pool a pool_dc1 { load-balancing-mode topology }"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/f5-irules-command-context": {
      "get": {
        "tags": [
          "F5 LTM, iRules & platform"
        ],
        "operationId": "run_f5_irules_command_context",
        "summary": "iRules command / context explainer",
        "description": "Paste an iRule: every when block explained with the event's own reference one-liner, its commands inventoried and linked, the documented priority evaluation order, and a CMP audit that catches the constructs that demote your virtual server to a single TMM. Standards: F5 iRules API reference. Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "The tool input.",
            "schema": {
              "type": "string",
              "examples": [
                "when HTTP_REQUEST { pool web }"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "F5 LTM, iRules & platform"
        ],
        "operationId": "run_f5_irules_command_context_post",
        "summary": "iRules command / context explainer (POST)",
        "description": "Paste an iRule: every when block explained with the event's own reference one-liner, its commands inventoried and linked, the documented priority evaluation order, and a CMP audit that catches the constructs that demote your virtual server to a single TMM. Standards: F5 iRules API reference. Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "requestBody": {
          "required": true,
          "description": "The tool input as text.",
          "content": {
            "text/plain": {
              "schema": {
                "type": "string",
                "examples": [
                  "when HTTP_REQUEST { pool web }"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/f5-irules-event-order": {
      "get": {
        "tags": [
          "F5 LTM, iRules & platform"
        ],
        "operationId": "run_f5_irules_event_order",
        "summary": "iRule event order",
        "description": "Pick the profile stack on a BIG-IP virtual server — client-SSL, HTTP, server-SSL, pool — and see the order the common iRule events fire, from CLIENT_ACCEPTED to CLIENT_CLOSED, as a timeline and a list. All in your browser. Standards: F5 iRules / TMOS event model. Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "The tool input.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "F5 LTM, iRules & platform"
        ],
        "operationId": "run_f5_irules_event_order_post",
        "summary": "iRule event order (POST)",
        "description": "Pick the profile stack on a BIG-IP virtual server — client-SSL, HTTP, server-SSL, pool — and see the order the common iRule events fire, from CLIENT_ACCEPTED to CLIENT_CLOSED, as a timeline and a list. All in your browser. Standards: F5 iRules / TMOS event model. Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "requestBody": {
          "required": true,
          "description": "The tool input as text.",
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/f5-irules-vs-ltm-policy": {
      "get": {
        "tags": [
          "F5 LTM, iRules & platform"
        ],
        "operationId": "run_f5_irules_vs_ltm_policy",
        "summary": "iRules vs LTM Policy classifier",
        "description": "Per when block, an honest verdict: expressible in an LTM policy (with a migration sketch in the vendor's own example grammar), verify on your version, or iRule-required with the blockers named. Policies are the no-programming layer; this tool tells you which blocks belong there. Standards: F5 LTM policies, F5 iRules. Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "The tool input.",
            "schema": {
              "type": "string",
              "examples": [
                "when HTTP_REQUEST { pool web }"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "F5 LTM, iRules & platform"
        ],
        "operationId": "run_f5_irules_vs_ltm_policy_post",
        "summary": "iRules vs LTM Policy classifier (POST)",
        "description": "Per when block, an honest verdict: expressible in an LTM policy (with a migration sketch in the vendor's own example grammar), verify on your version, or iRule-required with the blockers named. Policies are the no-programming layer; this tool tells you which blocks belong there. Standards: F5 LTM policies, F5 iRules. Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "requestBody": {
          "required": true,
          "description": "The tool input as text.",
          "content": {
            "text/plain": {
              "schema": {
                "type": "string",
                "examples": [
                  "when HTTP_REQUEST { pool web }"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/f5-l4-profile-explainer": {
      "get": {
        "tags": [
          "F5 LTM, iRules & platform"
        ],
        "operationId": "run_f5_l4_profile_explainer",
        "summary": "LTM L4 protocol profile explainer",
        "description": "The protocol-profile decision in cards: full-proxy tcp with every feature, the living f5-tcp-* four that F5 continually updates (read-only, tuned via child profiles) versus the frozen legacy -optimized trio, FastL4's PVA packet path with the loose pair for asymmetric routing, and FastHTTP's narrow-but-fast HTTP case with its complete when-to-use criteria list and K8024 as required reading. Standards: F5 LTM protocol profiles. Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "The tool input.",
            "schema": {
              "type": "string",
              "examples": [
                "fastl4"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "F5 LTM, iRules & platform"
        ],
        "operationId": "run_f5_l4_profile_explainer_post",
        "summary": "LTM L4 protocol profile explainer (POST)",
        "description": "The protocol-profile decision in cards: full-proxy tcp with every feature, the living f5-tcp-* four that F5 continually updates (read-only, tuned via child profiles) versus the frozen legacy -optimized trio, FastL4's PVA packet path with the loose pair for asymmetric routing, and FastHTTP's narrow-but-fast HTTP case with its complete when-to-use criteria list and K8024 as required reading. Standards: F5 LTM protocol profiles. Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "requestBody": {
          "required": true,
          "description": "The tool input as text.",
          "content": {
            "text/plain": {
              "schema": {
                "type": "string",
                "examples": [
                  "fastl4"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/f5-lb-method-chooser": {
      "get": {
        "tags": [
          "F5 LTM, iRules & platform"
        ],
        "operationId": "run_f5_lb_method_chooser",
        "summary": "LB-method chooser",
        "description": "Paste an ltm pool and get its load-balancing method explained in F5's own terms, with cross-checks against the rest of the pool, or answer two questions and get a sourced recommendation. All in your browser. Standards: F5 LTM load-balancing methods. Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "The tool input.",
            "schema": {
              "type": "string",
              "examples": [
                "ltm pool web_pool { load-balancing-mode least-connections-member }"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "F5 LTM, iRules & platform"
        ],
        "operationId": "run_f5_lb_method_chooser_post",
        "summary": "LB-method chooser (POST)",
        "description": "Paste an ltm pool and get its load-balancing method explained in F5's own terms, with cross-checks against the rest of the pool, or answer two questions and get a sourced recommendation. All in your browser. Standards: F5 LTM load-balancing methods. Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "requestBody": {
          "required": true,
          "description": "The tool input as text.",
          "content": {
            "text/plain": {
              "schema": {
                "type": "string",
                "examples": [
                  "ltm pool web_pool { load-balancing-mode least-connections-member }"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/f5-oneconnect-source-mask": {
      "get": {
        "tags": [
          "F5 LTM, iRules & platform"
        ],
        "operationId": "run_f5_oneconnect_source_mask",
        "summary": "OneConnect source-mask explainer",
        "description": "Paste a one-connect profile for the full option audit with the man page's own semantics and defaults, or simulate a mask against real client IPs and watch the reuse groups form. The marquee demonstration: SNAT translates first, so a single SNAT address collapses every client into one reuse group no matter how narrow the mask. Standards: F5 tmsh ltm profile one-connect, F5 K7208 / K5911. Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "The tool input.",
            "schema": {
              "type": "string",
              "examples": [
                "ltm profile one-connect my_oc { source-mask 255.255.255.0 }"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "F5 LTM, iRules & platform"
        ],
        "operationId": "run_f5_oneconnect_source_mask_post",
        "summary": "OneConnect source-mask explainer (POST)",
        "description": "Paste a one-connect profile for the full option audit with the man page's own semantics and defaults, or simulate a mask against real client IPs and watch the reuse groups form. The marquee demonstration: SNAT translates first, so a single SNAT address collapses every client into one reuse group no matter how narrow the mask. Standards: F5 tmsh ltm profile one-connect, F5 K7208 / K5911. Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "requestBody": {
          "required": true,
          "description": "The tool input as text.",
          "content": {
            "text/plain": {
              "schema": {
                "type": "string",
                "examples": [
                  "ltm profile one-connect my_oc { source-mask 255.255.255.0 }"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/f5-packet-filter-explainer": {
      "get": {
        "tags": [
          "F5 LTM, iRules & platform"
        ],
        "operationId": "run_f5_packet_filter_explainer",
        "summary": "BIG-IP packet-filter explainer",
        "description": "Paste net packet-filter rules for the ordered first-match walk with the man page's own semantics, shadow detection, and the platform context every filter decision sits inside. Add a sim: line and an honest three-state simulator answers which rule matches your packet. Standards: F5 net packet-filter (tmsh), pcap-filter(7). Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "The tool input.",
            "schema": {
              "type": "string",
              "examples": [
                "net packet-filter spoof_blocker { order 5 ... }"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "F5 LTM, iRules & platform"
        ],
        "operationId": "run_f5_packet_filter_explainer_post",
        "summary": "BIG-IP packet-filter explainer (POST)",
        "description": "Paste net packet-filter rules for the ordered first-match walk with the man page's own semantics, shadow detection, and the platform context every filter decision sits inside. Add a sim: line and an honest three-state simulator answers which rule matches your packet. Standards: F5 net packet-filter (tmsh), pcap-filter(7). Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "requestBody": {
          "required": true,
          "description": "The tool input as text.",
          "content": {
            "text/plain": {
              "schema": {
                "type": "string",
                "examples": [
                  "net packet-filter spoof_blocker { order 5 ... }"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/f5-persistence-method-explainer": {
      "get": {
        "tags": [
          "F5 LTM, iRules & platform"
        ],
        "operationId": "run_f5_persistence_method_explainer",
        "summary": "Persistence-method explainer",
        "description": "Paste BIG-IP persistence profiles and virtual servers and get the method behind each, its failure modes, and the primary-to-fallback chain, all in your browser. Standards: F5 LTM persistence. Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "The tool input.",
            "schema": {
              "type": "string",
              "examples": [
                "ltm persistence cookie my_cookie { method insert }"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "F5 LTM, iRules & platform"
        ],
        "operationId": "run_f5_persistence_method_explainer_post",
        "summary": "Persistence-method explainer (POST)",
        "description": "Paste BIG-IP persistence profiles and virtual servers and get the method behind each, its failure modes, and the primary-to-fallback chain, all in your browser. Standards: F5 LTM persistence. Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "requestBody": {
          "required": true,
          "description": "The tool input as text.",
          "content": {
            "text/plain": {
              "schema": {
                "type": "string",
                "examples": [
                  "ltm persistence cookie my_cookie { method insert }"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/f5-service-check-date": {
      "get": {
        "tags": [
          "F5 LTM, iRules & platform"
        ],
        "operationId": "run_f5_service_check_date",
        "summary": "F5 service check date",
        "description": "Enter a BIG-IP version to get the minimum service check date its license must carry, or enter a service check date to see the newest version you can upgrade to. Based on F5's published License Check Date table (K7727); runs entirely in your browser. Standards: F5 K7727, F5 K8986, F5 K3782, F5 K000160443. Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "The tool input.",
            "schema": {
              "type": "string",
              "examples": [
                "Service check date : 20230611"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "F5 LTM, iRules & platform"
        ],
        "operationId": "run_f5_service_check_date_post",
        "summary": "F5 service check date (POST)",
        "description": "Enter a BIG-IP version to get the minimum service check date its license must carry, or enter a service check date to see the newest version you can upgrade to. Based on F5's published License Check Date table (K7727); runs entirely in your browser. Standards: F5 K7727, F5 K8986, F5 K3782, F5 K000160443. Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "requestBody": {
          "required": true,
          "description": "The tool input as text.",
          "content": {
            "text/plain": {
              "schema": {
                "type": "string",
                "examples": [
                  "Service check date : 20230611"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/f5-ssl-profile-explainer": {
      "get": {
        "tags": [
          "TLS & transport"
        ],
        "operationId": "run_f5_ssl_profile_explainer",
        "summary": "F5 SSL profile explainer",
        "description": "Paste a tmsh client-ssl or server-ssl profile and get its role, the TLS protocol matrix, and a security read covering chain, renegotiation, SNI, OCSP, and mutual TLS — all in your browser. Standards: F5 client-ssl / server-ssl profiles. Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "The tool input.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "TLS & transport"
        ],
        "operationId": "run_f5_ssl_profile_explainer_post",
        "summary": "F5 SSL profile explainer (POST)",
        "description": "Paste a tmsh client-ssl or server-ssl profile and get its role, the TLS protocol matrix, and a security read covering chain, renegotiation, SNI, OCSP, and mutual TLS — all in your browser. Standards: F5 client-ssl / server-ssl profiles. Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "requestBody": {
          "required": true,
          "description": "The tool input as text.",
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/f5-tmsh-config-explainer": {
      "get": {
        "tags": [
          "F5 LTM, iRules & platform"
        ],
        "operationId": "run_f5_tmsh_config_explainer",
        "summary": "tmsh config explainer",
        "description": "Paste a BIG-IP bigip.conf snippet and get a plain-English breakdown of every object, plus the structure, entirely in your browser. Standards: F5 tmsh reference. Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "The tool input.",
            "schema": {
              "type": "string",
              "examples": [
                "ltm virtual vip { destination 10.0.0.1:80 pool web_pool }"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "F5 LTM, iRules & platform"
        ],
        "operationId": "run_f5_tmsh_config_explainer_post",
        "summary": "tmsh config explainer (POST)",
        "description": "Paste a BIG-IP bigip.conf snippet and get a plain-English breakdown of every object, plus the structure, entirely in your browser. Standards: F5 tmsh reference. Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "requestBody": {
          "required": true,
          "description": "The tool input as text.",
          "content": {
            "text/plain": {
              "schema": {
                "type": "string",
                "examples": [
                  "ltm virtual vip { destination 10.0.0.1:80 pool web_pool }"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The computed result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "description": "The input is missing or could not be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/f5-topology-longest-match": {
      "get": {
        "tags": [
          "F5 GTM, AFM & APM"
        ],
        "operationId": "run_f5_topology_longest_match",
        "summary": "GTM topology longest-match scorer",
        "description": "Topology decisions computed the way BIG-IP DNS computes them: the Longest Match sort with per-record rationale, the scoring walk with shadowing shown, highest score wins, ties round-robin. Standards: F5 GTM topology records. Stateless and side-effect-free: the same input always yields the same result, and nothing is stored or logged.",
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "The tool input.",
            "schema": {
              "type": "string",
              "examples": [
                "gtm topology ldns: subnet 10.0.0.0/8 server: pool /Common/POOL_A { score 100 }"
              ]
            }
          }
        ],
[...]
